# General
.DS_Store
.idea/
.vscode/

# Node.js Backend
/smart-form-backend/node_modules
/smart-form-backend/.env
/smart-form-backend/npm-debug.log*
/smart-form-backend/coverage/
/smart-form-backend/uploads/  # <-- ADDED THIS LINE

# Flutter Frontend
/smart_form_app/build/
/smart_form_app/.dart_tool/
/smart_form_app/.flutter-plugins*
/smart_form_app/.packages
/smart_form_app/ios/
/smart_form_app/linux/
/smart_form_app/macos/
/smart_form_app/windows/
/smart_form_app/.metadata
/smart_form_app/pubspec.lock